{
    "plugins": [
        ["@babel/plugin-transform-runtime",
          {
            "regenerator": true
          }
        ]
      ],
    "presets": [
    ["@babel/preset-env", {
        "target": [
            "last 5 versions"
        ]
    }]
]
}

